body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin: 0;
}

.ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

b {
    color: blueviolet;
}

a {
    margin: 0 20px;
    text-decoration: none;
}

span {
    font-size: xx-large;
    font-weight: 600;
    color: blueviolet;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgb(135, 205, 205);
}

.homeH,
.ProjectsH,
.ContactH {
    margin: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}

.homeH :hover,
.ProjectsH :hover,
.ContactH :hover {
    background-color: rgb(108, 233, 233);
    border-radius: 10px;
    color: white;
    height: 25px;
    width: 80px;
    text-align: center;
}

/* write after */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300vh;
    background-color: rgb(126, 174, 174);
}

/* Home section */
#home {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(60, 182, 182);
}

.home {
    font-size: x-large;
    width: 50%;
    margin-left: 60px;
}

.heading {
    width: 80%;
    margin-bottom: 10%;
    margin-left: 5%;
}

.image {
    width: 50%;
}

.image img {
    height: 90%;
    width: 90%;

}

/* Projects Section */
#Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(80, 106, 106);
}
.Projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(80, 106, 106);
}

/* Contact Section */
#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(55, 86, 86);
}